{
	"presets": [
		"@babel/preset-env",
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-proposal-class-properties",
		"@babel/proposal-export-default",
		"@babel/proposal-export-default-from",
		"babel-plugin-styled-components"
	]
}